#canvas {
    width: calc(100% - 300px);
    height: 100%;
}

#colorpalette {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#colorpalette .itemWrapper {
    position: relative;
    margin: 10px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}

.colorItem {
    cursor: pointer;
}

#gameinfo {
    top: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gameinfo .info {
    margin: 10px;
    padding: 20px;
}
