<div id="lobbyWrapper">
	<div class="playerWrapper">
		<div *ngFor="let user of this.dataservice.players" class="nes-container is-centered lobbyPlayer">
			<p [class.hostPlayer]="user['sessionID'] === this.hostID">{{decodeUsername(user)}}</p>
		</div>
	</div>
	<button (click)="startGame();" *ngIf="dataservice.blockzUser.sessionID === this.hostID" class="nes-btn is-success"
			type="button">Start
	</button>
	<p>
		<span *ngIf="dataservice.blockzUser.sessionID !== this.hostID">Waiting...</span>
	</p>
</div>
