<div id="sidebar">
	<div id="header">
		<div id="title">CHAT</div>
	</div>
	<div #chatBox id="messageContainer">
		<ul>
			<li *ngFor="let m of this.history">
				<div *ngIf="m.type === 'chat'">
					<div [ngClass]="m.sender === this.dataservice.blockzUser.sessionID ? 'message own' : 'message other'">
						<div class="name">{{resolveDisplayName(m)}}</div>
						<div class="msgBody">
							{{decodeMessage(m)}}
						</div>
					</div>
				</div>
				<div *ngIf="m.type === 'guessed'">
					<div class="nes-container is-dark">
						<p>{{resolveDisplayName(m) + " " + m.message}}</p>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div id="textFieldWrapper">
		<!--  *ngIf="dataservice.blockzUser.role === 'GUESSER'" to allow only guesser to chat -->
		<input (keydown.enter)="sendMessage()" [(ngModel)]="messageToChat" id="chatField" placeholder="Guesses..."
			   type="text">
	</div>
</div>
