.info {
    padding: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 50px;
    left: calc(50% - 300px);
    height: 150px;
    width: 250px;
}
draw-area{
    max-width: calc(100% - 300px);
}
