<div class = "container">
    <div *ngIf="!gameSelected" class="gamesSelection">
        <div class="nes-container is-dark with-title">
            <button (click)="chooseGame('blockz')" class="nes-btn is-warning" type="button">Block Game</button>
            <button (click)="chooseGame('draw')" class="nes-btn is-warning" type="button">Guessing Game</button>

        </div>
    </div>
    <div *ngIf="gameSelected" class="loginContainer">
    <div class="nes-container with-title is-centered">
        <div class="nes-field">
            <label for="name_field">Username</label>
            <input type="text" id="name_field" class="nes-input" [(ngModel)]="this.dataservice.blockzUser.username" required>
        </div>
        <p><button type="button" class="nes-btn is-success" (click)="loginNewPlayer()">Play</button></p>

    </div>
</div>
</div>
